@charset "utf-8";
/*********************************
1. Index
*********************************/

.hero_boxes
{
	width: 100%;
	height: 0px;
	z-index: 9;
	padding-top: 0px;
}
.hero_boxes_inner
{
	width: 100%;
    margin-bottom: 20px;
    position: absolute;
	top: -212px;
	left: 0;
}
.hero_box
{
	width: 100%;
	height: 161px;
	background: #1a1a1a;
	padding-left: 50px;
    display:flex!important;
    flex-direction:row!important;
    align-items:center!important;
    justify-content:flex-start!important;
}